POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=postgres
POSTGRES_STORAGE=/path/postgres-storage

MONGO_USER=root
MONGO_PASSWORD=root
MONGO_STORAGE=/path/mongo-storage

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_STORAGE=/path/minio-storage

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=mysql
MYSQL_USER=your_username
MYSQL_PASSWORD=your_password
MYSQL_STORAGE=/path/mysql-storage
MARIADB_STORAGE=/path/mariadb-storage

CONSUL_STORAGE=/path/consul-storage

MIRTH_STORAGE=/path/mirth-storage

ORDS_DATABASE_HOST=your_oracle_host
ORDS_DATABASE_PORT=1521
ORDS_DATABASE_NAME=your_service_name
ORDS_DATABASE_USERNAME=your_username
ORDS_DATABASE_PASSWORD=your_password
ORDS_PATH=/ords
ORDS_DATABASE_POOL_INITIAL_SIZE=5
ORDS_DATABASE_POOL_MAX_SIZE=20
ORDS_STORAGE=/path/ords-storage

RABBITMQ_DEFAULT_USER=your_username
RABBITMQ_DEFAULT_PASS=your_password
RABBITMQ_STORAGE=/path/rabbitmq-storage

RANCHER_VIRTUAL_HOST: rancher.example.com
RANCHER_VIRTUAL_PORT: 80
RANCHER_LETSENCRYPT_HOST: rancher.example.com
RANCHER_LETSENCRYPT_EMAIL: email@example.com

REDIS_STORAGE=/path/redis-storage

WATCHTOWER_REPO_USER=repo_username
WATCHTOWER_REPO_PASS=repo_password
WATCHTOWER_CONTAINER_NAME=container-name
